*{
	padding: 0;
	margin: 0;
}
#wrap{
	width: 100%;
	font-size: 12px;
	overflow-x: hidden;
}
a{
	color: #000;
	text-decoration: none;
}
/* 导航栏 *//* 左右内边距50px */
.nav-bar{
	position: fixed;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 94%;
	padding:20px 3%;
	box-shadow: -5px 2px 5px #ccc;
	background-color: #fff;
	z-index: 5;
}
.left{
	display: flex;
	margin-top: 10px;
	align-items: center;
	justify-content: space-evenly;
}
.left div{
	margin-right: 10px;
}

/* logo */
.logo{
	display: flex;
	align-items: center;
}
.logo-img img{
	width: 50px;
	height: 50px;
}
/* 导航栏右边 */
.right{
	margin-top: 10px;
	display: flex;
}
.right div{
	margin-right: 10px;
}
.right div select{
	border: 0;
}
/* 脚标
 */
.footer{
	height: 200px;
	
	width: 96%;
	padding: 25px 2%;
	background:url(../img/pic/click/footer.jpg);
	color: #fff;
	
}
.footer p{
	color: #989898;
}
.container{
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}
.footer-logo img{
	width: 50px;
	height: 50px;
}
.footer-logo-one{
	display: flex;
	align-items: center;
}
.footer h6{
	margin:8px 0;
}
[class^='footer-left']{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}